name: Check

on:
  workflow_dispatch:
  # push:
  #   branches: [ "devnet" ]
  pull_request:
    branches: [ "devnet" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: wasm32-unknown-unknown
        components: rustfmt clippy rust-src
    - name: Install system deps
      run: sudo apt-get install protobuf-compiler jq ripgrep fd-find
    - name: Build
      run: cargo build --locked
    - name: Run tests
      run: cargo test --locked
    - name: Check format
      run: |
        rustup toolchain add nightly-x86_64-unknown-linux-gnu
        rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt
        cargo +nightly fmt -- --check
    - name: Clippy checks
      run: cargo clippy --all-targets -- --deny warnings
    - name: Clippy checks all features (exclude node and runtime)
      run: |
        set -o pipefail
        cargo metadata --format-version=1 --no-deps \
          | jq '.packages | .[] | .name' \
          | rg --invert-match 'atleta-(node|runtime)' \
          | xargs -I {} cargo clippy --package {} --all-targets --all-features -- --deny warnings --deny missing_docs
    - name: Run shellcheck
      run: fdfind --type executable --exec shellcheck {}
